
<!DOCTYPE html>
<html>
<head>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta name="description" content="买票 买票大全 火车票 汽车票 船票 飞机票 电影票 买票一站式导航 这里是您买票的起点，为你提供最便捷最全面的入口 找工作 工作大全 团购大全 省钱 省钱大全 " />
<meta name="keywords" content="买票 火车票 汽车票 船票 飞机票 买票一站式 导航 买票大全 找工作 工作大全 团购大全 省钱 省钱大全" />
<meta name="author" content="村长" />
<meta name="Copyright" content="Copyright &copy;2013 村长works" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- TITLE -->
<title>买票大全</title>

<meta name="viewport" content="width=device-width" />

<!-- CSS -->
<link href="../../css/screen.css" type="text/css" rel="stylesheet" media="screen" />
<!--[if IE 6]><link href="/css/screen-ie6.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
<!--[if IE 7]><link href="/css/screen-ie7.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
<!--[if IE 8]><link href="/css/screen-ie8.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->

<!--[if IE 6]><script type="text/javascript" src="/js/belatedpng-0.0.7a.js"></script><![endif]-->
<!--[if IE 6]><script type="text/javascript" src="/js/ie6.js"></script><![endif]-->
<script src="/mint/?js" type="text/javascript"></script>

<!-- FAVICON -->
<link rel="shortcut icon" href="http://colly.com/favicon.ico" />

<!-- iPHONE -->
<link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png"/>
<link href="../../css/app.css" type="text/css" rel="stylesheet" media="screen" />
<link href="../../css/search.css" type="text/css" rel="stylesheet" media="screen" />
<script>
$(function(){
    $("#search-btn").click(function(){
        //alert("search click");
        var type = $(".on").data("type");
        var keyword = $("#search-box").val();
        if(keyword===""){
            alert("关键字不能为空");
        }else{
            var url = "/words/search/"+type+"?keyword="+keyword;
            window.location.href=url;
        }
    });

    $(".search-tab").click(function(){
        $(".search-tab").removeClass("on");
        $(this).addClass("on");
    });


    $("#search-box").keydown(function(e) {
        //keyCode==13 为回车
        if (e.keyCode == 13) {
            var type = $(".on").data("type");
            var keyword = $("#search-box").val();
            if(keyword===""){
                alert("关键字不能为空");
            }else{
                var url = "/words/search/"+type+"?keyword="+keyword;
                window.location.href=url;
            }
        }
    });
 });
</script>
</head>
<body class="home">
   <div class="mp-nav">
        <a href="/words"><h2 class="logo">名人名言大全 <span class="sub-logo">名人名言简易查询</span>   </h2></a>  
    </div>
    <div class="sb-nav">
        <ul  class="sidebar-nav" style="">
            <li class="sidebar-li">
                <a href="/" style="color:#39B;">买票大全</a>
            </li>
            <li class="sidebar-li">
                <a href="/job" style="color:#39B;">找工作大全</a>
            </li>
            <li class="sidebar-li">
                <a href="/words" style="color:#39B;">名人名言大全</a>
            </li>
        </ul>
    </div>

    <!-- Baidu Button BEGIN -->
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6579558" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
    </script>
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="float:right;margin-right:5%">
        <span class="bds_more">分享到：</span>
        <a class="bds_qzone"></a>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <a class="bds_t163"></a>
        <a class="shareCount"></a>
    </div>
	<div id="page">
        <div class="search-bar-result">
            <div class="search-tags">
                <ul id="top-column" class="top-column">
                <li id="word-name" class="search-tab on" data-type="name">   
                    名人
                </li>
                <li id="word-word" class="search-tab" data-type="word">   
                    名言
                </li>
                 <li id="word-type" class="search-tab" data-type="type">   
                    类型
                </li>
                </ul>
            </div>

            <div class="search-text">
                <input type="text" class="search-box" id="search-box" value="<%=keyword%>"/>
                <a id="search-btn" class="search-btn">搜索</a>
            </div>
            <div class="search-suggest">
                <a class="suggest-tag" href="/words/search/name?keyword=鲁迅">鲁迅
                </a>
                <a class="suggest-tag" href="/words/search/name?keyword=贝多芬">贝多芬
                </a>
                <a class="suggest-tag" href="/words/search/type?keyword=幸福">幸福
                </a>
            </div>
        </div>
        <div class="list-result">
        	<ul class="search-results">
                 <% if(locals.results) { %>
                   <% for(var i=0; i<results.length; i++) {%>
                    <li class="search-result-item">
                        <span class="search-result-words"><%=results[i].words%></span>
                        <span class="search-result-from">——<%=results[i].name%></span><br>
                        <span class="search-result-type">类型:<%=results[i].tags%></span>
                        <hr class="separate">
                    </li>
                   <%}%>
                 <%}%>
        		
        	</ul>
        </div>
        <%if(pageNo>0){%>
        <div class="search-pagination" style="">
            <ul style="list-style:none">
                <li>
                        <li style="float:left;margin: 80px 10px 0px 0px;height: 40px">
                            <% if(pageNo>1) {%>
                            <h3><a class="btn-pre" href="/words/search/<%=type%>?keyword=<%=keyword%>&pageNo=<%=pagePre%>"> &lt;前一页</a></h3>
                            <% } else {%>   
                            <h3><a class="btn-pre" href="javascript:void(0);" >&lt;前一页</a></h3>
                            <% } %>
                        </li>
                        <li style="float:left;margin: 80px 10px 0px 0px;height: 40px">
                            <h3><a class="btn-next" href="/words/search/<%=type%>?keyword=<%=keyword%>&pageNo=<%=pageNext%>">后一页></a></h3>
                        </li>
                </li>
            </ul>   
        </div>
        <% } %>

    </div>
<!-- Baidu Button END -->

	<%include ../footer%>
</body>
</html>
