<div id="siteinfo">
				<p>Copyright &copy; 村长works 2013</p>
				<p>Email:aiesecliyang.dalian@gmail.com</p>
                <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2e408b57c6c688ca05baec6af8d772bb' type='text/javascript'%3E%3C/script%3E"));
                </script>
		</div>