<div class="mp-nav">
        <h2 class="logo">买票大全 <span class="sub-logo">买票一站式导航</span>   </h2>  
    </div>
    <div class="sb-nav">
        <ul  class="sidebar-nav" style="">
            <li class="sidebar-li">
                <a href="/" style="color:#39B;">首页</a>
            </li>
            <li class="sidebar-li">
                <a href="/job" style="color:#39B;">找工作大全</a>
            </li>
        </ul>
    </div>