<div class="mp-nav">
        <a href="/"><h2 class="logo">买票大全 <span class="sub-logo">买票一站式导航</span>   </h2> </a>
    </div>
    <div class="sb-nav">
        <ul  class="sidebar-nav" style="">
             <li class="sidebar-li">
                <a href="/" style="color:#39B;">买票大全</a>
            </li>
            <li class="sidebar-li">
                <a href="/job" style="color:#39B;">找工作大全</a>
            </li>
            <li class="sidebar-li">
                <a href="/words" style="color:#39B;">名人名言大全</a>
            </li>
        </ul>
    </div>