
<!DOCTYPE html>
<html>
<head>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta name="description" content="买票 买票大全 火车票 汽车票 船票 飞机票 电影票 买票一站式导航 这里是您买票的起点，为你提供最便捷最全面的入口 找工作 工作大全 团购大全 省钱 省钱大全 " />
<meta name="keywords" content="买票 火车票 汽车票 船票 飞机票 买票一站式 导航 买票大全 找工作 工作大全 团购大全 省钱 省钱大全" />
<meta name="author" content="村长" />
<meta name="Copyright" content="Copyright &copy;2013 村长works" />
<meta name="baidu-site-verification" content="cTAuaKH48Y" />
<!-- TITLE -->
<title>买票大全</title>

<meta name="viewport" content="width=device-width" />

<!-- CSS -->
<link href="./css/screen.css" type="text/css" rel="stylesheet" media="screen" />
<!--[if IE 6]><link href="/css/screen-ie6.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
<!--[if IE 7]><link href="/css/screen-ie7.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->
<!--[if IE 8]><link href="/css/screen-ie8.css" type="text/css" rel="stylesheet" media="screen" /><![endif]-->

<!--[if IE 6]><script type="text/javascript" src="/js/belatedpng-0.0.7a.js"></script><![endif]-->
<!--[if IE 6]><script type="text/javascript" src="/js/ie6.js"></script><![endif]-->
<script src="/mint/?js" type="text/javascript"></script>

<!-- FAVICON -->
<link rel="shortcut icon" href="http://colly.com/favicon.ico" />

<!-- iPHONE -->
<link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png"/>
<link href="./css/app.css" type="text/css" rel="stylesheet" media="screen" />
<script>
</script>
</head>
<body class="home">
    <% include header%>

   

    <!-- Baidu Button BEGIN -->
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6579558" ></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
    </script>
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare" style="float:right;margin-right:5%">
        <span class="bds_more">分享到：</span>
        <a class="bds_qzone"></a>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <a class="bds_t163"></a>
        <a class="shareCount"></a>
    </div>
	<div id="page">
    <div>
        <ul  class="sidebar-left" style="list-style:none;">
            <li class="sidebar-left-li">
                <a href="#anchor-train" style="padding:10px;color:#fff;background-color:#2DC;">综合类</a>
            </li>
            <li class="sidebar-left-li">
                <a href="#anchor-plane" style="padding:10px;color:#fff;background-color:#375;">专业类</a>
            </li>
            <li class="sidebar-left-li">
                <a href="#anchor-bus" style="padding:10px;color:#fff;background-color:#B66;">地方特色</a>
            </li>
             <li class="sidebar-left-li">
                <a href="#anchor-movie" style="padding:10px;color:#fff;background-color:#7bc;">网赚</a>


            </li>
              <li class="sidebar-left-li">
                <a href="#anchor-movie" style="padding:10px;color:#fff;background-color:#6b9;">网上找工作常见问题</a>
            </li>
        </ul>
    </div>
        <ul id="navigation_pri">
            <h3><a class="btn-create" style="" id="anchor-train">综合类</a></h3><br>
            <hr style="width:940px;">
            <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.ganji.com/qiuzhi/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">赶集网</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>啥都有,哪都有</span></span> 
                <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
                </a>
            </li>
            <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.51job.com/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">前程无忧</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>无忧无虑</span></span> 
                <span class="tag" style="color:#d67b95">类型 :兼职 全职 各种职位</a>
                </a>
            </li>
             <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.lietou.com/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">猎聘网</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>随时获取高薪职位</span></span> 
                <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
                </a>
            </li>
            <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.wealink.com/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">若邻网</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>中国领先的社交招聘网</span></span> 
                <span class="tag" style="color:#d67b95">类型 :兼职 全职 各种职位</a>
                </a>
            </li>
            <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.818.cn/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">818工作网</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>818工作网</span></span> 
                <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
                </a>
            </li>
            <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.zhaopin.com/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">智联招聘</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>好工作，上智联招聘</span></span> 
                <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
                </a>
            </li>
            <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.jobui.com/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">职友集</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>找工作/全国最大的工作搜索引擎</span></span> 
                <span class="tag" style="color:#d67b95">类型 :兼职 全职 各种职位</a>
                </a>
            </li>
            <li id="journal" class="buy-train">
                <a target="_blank" href="http://bj.58.com/zhaopin/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">58同城</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>全国180多个城市的最新其他职位招聘信息,就来58.com</span></span> 
                <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
                </a>
            </li>
            <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.chinahr.com/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">中华英才网</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>最准确的企业职位最新招聘信息大全</span></span> 
                <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
                </a>
            </li>
            <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.baixing.com/gongzuo/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">中国百姓网</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>中国全职招聘</span></span> 
                <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
                </a>
            </li>
             <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.fenzhi.com/zhaopin/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">分智招聘</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>在这里您可以快速的找到那些评价更好、待遇更高的企业</span></span> 
                <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
                </a>
            </li>
             <li id="journal" class="buy-train">
                <a target="_blank" href="http://www.dajie.com/" class="journal-cls" data-id="1">
                <span class="label-title label-title-title" style="color:#fff;font-size:17px;">大街网</span>
                <span class="arrow-right"></span>
                <span class="strap"><span>预见新自己</span></span> 
                <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
                </a>
            </li>
           
        </ul>



		<ul id="navigation_pri">

    <h3><a class="btn-create" id="anchor-plane">专业类</a></h3><br>
    <hr>        
	<li id="journal" class="buy-plane"><a target="_blank" href="http://www.01hr.com/industry.html" class="journal-cls" data-id="1">
    	<span class="label-title">数字英才</span>
    	<span class="strap"><span> 行业招聘 职位招聘</span></span> 
        <span class="arrow-right"></span>
    	<span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
    </a>
    </li>
    <li id="journal" class="buy-plane"><a target="_blank" href="http://www.36.cn/" class="journal-cls" data-id="1">
        <span class="label-title">36人才</span>
        <span class="strap"><span> 中国最大的行业招聘网站 </span></span> 
        <span class="arrow-right"></span>
        <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
    </a>
    </li>
     <li id="journal" class="buy-plane"><a target="_blank" href="http://www.hiall.com.cn/info/special.php " class="journal-cls" data-id="1">
        <span class="label-title">HiAll</span>
        <span class="strap"><span> HiAll,为应届毕业生或在校生提供最新、全职、实习招聘信息 </span></span> 
        <span class="arrow-right"></span>
        <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
    </a>
    </li>
     <li id="journal" class="buy-plane"><a target="_blank" href="http://www.360zhaopin.com/" class="journal-cls" data-id="1">
        <span class="label-title">360行业招聘</span>
        <span class="strap"><span> 行业招聘网,行业人才</span></span> 
        <span class="arrow-right"></span>
        <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
    </a>
    </li>
     <li id="journal" class="buy-plane"><a target="_blank" href="http://games.qq.com/zt2012/2012zp/" class="journal-cls" data-id="1">
        <span class="label-title">游戏行业_腾讯游戏</span>
        <span class="strap"><span>游戏行业招聘_腾讯游戏_腾讯网</span></span> 
        <span class="arrow-right"></span>
        <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
    </a>
    </li>
    <li id="journal" class="buy-plane"><a target="_blank" href="http://job.cnlinfo.net/" class="journal-cls" data-id="1">
        <span class="label-title">中国行业人才网</span>
        <span class="strap"><span>中国行业人才网</span></span> 
        <span class="arrow-right"></span>
        <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
    </a>
    </li>
    <li id="journal" class="buy-plane"><a target="_blank" href=" http://www.36job.com/" class="journal-cls" data-id="1">
        <span class="label-title">36job行业招聘网</span>
        <span class="strap"><span>36个行业招聘网站</span></span> 
        <span class="arrow-right"></span>
        <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
    </a>
    </li>

   
</ul>


 <ul id="navigation_pri">
    <h3><a class="btn-create" id="anchor-bus">地方特色</a></h3><br><hr>
          <li id="journal" class="buy-bus"><a target="_blank" href="http://job.19lou.com/" class="journal-cls" data-id="1">
        <span class="label-title">杭州19楼</span>
        <span class="strap"><span>杭州19楼</span></span> 
        <span class="arrow-right"></span>
        <span class="tag" style="color:#d67b95">类型 : 兼职 全职 各种职位</a>
    </a>
    </li>
</ul>


<ul id="navigation_pri">
    <h3><a class="btn-create" id="anchor-movie">网赚类</a></h3><br><hr>
    
      <li id="journal" class="buy-movie"><a target="_blank" href="http://union.baidu.com/product/prod-cpro.html" class="journal-cls" data-id="1">
        <span class="label-title">百度联盟</span>
        <span class="arrow-right"></span>
        <span class="strap"><span>百度联盟网盟推广合作业务</span></span> 
        <span class="tag" style="color:#d67b95">类型 : 网赚</a>
    </a></li>

     <li id="journal" class="buy-movie"><a target="_blank" href="http://www.alimama.com/index.htm" class="journal-cls" data-id="1">
        <span class="label-title">阿里妈妈</span>
        <span class="arrow-right"></span>
        <span class="strap"><span>阿里妈妈是阿里巴巴旗下的一个全新的互联网广告交易平台</span></span> 
        <span class="tag" style="color:#d67b95">类型 : 网赚</a>
    </a></li>

     <li id="journal" class="buy-movie"><a target="_blank" href="http://koo4.cn/" class="journal-cls" data-id="1">
        <span class="label-title">酷网社区</span>
        <span class="arrow-right"></span>
        <span class="strap"><span>酷网网赚论坛koo4.cn提供给力的网上赚钱项目分享</span></span> 
        <span class="tag" style="color:#d67b95">类型 : 网赚</a>
    </a></li>

     <li id="journal" class="buy-movie"><a target="_blank" href="http://www.admin5.com/article/20080117/69229.shtml" class="journal-cls" data-id="1">
        <span class="label-title">网赚论坛大全</span>
        <span class="arrow-right"></span>
        <span class="strap"><span>五花八门的网赚论坛社区</span></span> 
        <span class="tag" style="color:#d67b95">类型 : 网赚</a>
    </a></li>
</ul>


<ul id="navigation_pri">
    <h3><a class="btn-create" id="anchor-question">网上找工作常见问题：</a></h3><br><hr>
    
      <li id="journal" class="buy-question"><a target="_blank" href="http://jingyan.baidu.com/article/8275fc86d13b5a46a03cf6f0.html" class="journal-cls" data-id="1">
        <span class="label-title">网上找工作投递简历诀窍汇集</span>
        <span class="strap"><span>网上找工作投简历的几个窍门。</span></span> 
        <span class="tag" style="color:#d67b95">来自 : 百度经验</a>
    </li>
    <li id="journal" class="buy-question"><a target="_blank" href="http://jingyan.baidu.com/article/0f5fb099d4be756d8334eaf1.html" class="journal-cls" data-id="1">
        <span class="label-title">网上找工作技巧</span>
        <span class="strap"><span>网上找工作技巧</span></span> 
        <span class="tag" style="color:#d67b95">来自 : 百度经验</a>
    </li>
      <li id="journal" class="buy-question"><a target="_blank" href="http://jingyan.baidu.com/article/e6c8503c3972efe54f1a18f1.html" class="journal-cls" data-id="1">
        <span class="label-title">网上找工作流程</span>
        <span class="strap"><span>网上找工作流程</span></span> 
        <span class="tag" style="color:#d67b95">来自 : 百度经验</a>
    </li>
    <li id="journal" class="buy-question"><a target="_blank" href="http://jingyan.baidu.com/article/5bbb5a1b4b312213eba179f2.html" class="journal-cls" data-id="1">
        <span class="label-title">如何在网上找工作</span>
        <span class="strap"><span>如何在网上找工作</span></span> 
        <span class="tag" style="color:#d67b95">来自 : 百度经验</a>
    </li>
      <li id="journal" class="buy-question"><a target="_blank" href="http://jingyan.baidu.com/article/915fc41428b7c051394b20af.html" class="journal-cls" data-id="1">
        <span class="label-title">大学生网上找工作的几点心得</span>
        <span class="strap"><span>大学生网上找工作的几点心得</span></span> 
        <span class="tag" style="color:#d67b95">来自 : 百度经验</a>
    </li>
    <li id="journal" class="buy-question"><a target="_blank" href="http://jingyan.baidu.com/article/046a7b3e1ab47cf9c27fa9b2.html" class="journal-cls" data-id="1">
        <span class="label-title">网上应聘时应注意点什么？</span>
        <span class="strap"><span>人才市场就是通过提供专业的HR解决方案</span></span> 
        <span class="tag" style="color:#d67b95">来自 : 百度经验</a>
    </li>
</ul>


<!-- Baidu Button END -->

		<%include footer%>
</body>
</html>
